@{

      ViewData["Title"] = "Crea Pizza";
    ViewBag.TitoloPagina = "Creazione Pizza Custom";
    //Validation.RequireField("FullName", "Class name is required");

}

@model la_mia_pizzeria_static.Models.Pizza;

  @using (Html.BeginForm("CreaSchedaPizza", "Pizza", FormMethod.Post ))
    {

        @Html.ValidationSummary()
        <table cellpadding="0" cellspacing="0" class="center">
            <tr>
                <th colspan="2" align="center">Dettagli Pizza</th>
            </tr>
            
            <tr>
                <td>Nome Pizza: </td>
                <td>
                    @Html.TextBoxFor(m => m.Nome)
                    @Html.ValidationMessage("Nome")
                    
                </td>
            </tr>
           
            <tr>
                <td>Descrizione: </td>
                <td>
                    @Html.TextBoxFor(m => m.Desc)
                    @Html.ValidationMessage("Desc")
                </td>
            </tr>
            <tr>
                <td>Prezzo: </td>
                <td>
                    @Html.TextBoxFor(m => m.Prezzo)
                    @Html.ValidationMessage("Prezzo")
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    }